.avatar {
  border: 1px solid #010123;
  margin: 0 1.66em 0 0;
  height: 16.66em;
  max-width: 16.66em;
  width: 25%;
}
  
.avatar img {
  height: auto;
  height: 100%;
  object-fit: cover;
  object-position: top;
  width: 100%;
}
  
.info_page {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 1.66em 0;
}

.line_one {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2.5em;
}

.line_one button {
  margin: 0;
}

.fio {
  font-size: 1.66em;
  font-weight: 900;
}

.data {
  width: 75%;
}
  
.data .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.data b {
  font-weight: 600;
}

.data a {
  color: #010123;
  display: inline;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

.data a:after {
  background-color: #010123;
  bottom: -.11em;
  content: '';
  height: .05em;
  left: 0;
  position: absolute;
  transition: all ease-in-out .17s;
  width: 100%;
}

.data a:hover:after,
.data a:active:after {
  background-color: transparent;
  width: 0;
}

.contacts_list {
  display: flex;
  flex-direction: column;
}

.separate {
  display: block;
  font-size: 1.11em;
  font-style: italic;
  margin: .83em 0 0;
}

.info_page form {
  width: 70%;
}

.info_page form div {
  margin: 0 0 1.11em;
}

.info_page form label div {
  margin: 0;
}

form .contact div {
  margin-top: .27px;
}

@media (max-width: 1180px) {
  .avatar {
    max-width: none;
    width: 30%;
  }
  .data {
    width: 70%;
  }
}

@media (max-width: 1080px) {
  .line_one {
    flex-direction: column;
  }

  .fio ~ div {
    margin-top: 15px;
  }
}