.item {
    border: 1px solid #010123;
    border-radius: 15px;
    margin: 0 0 1.11em 0;
    padding: .55em;
    width: 60%;
}

.item[class*='msg_friend'] {
    align-self: flex-start;
}

.item[class*='msg_im'] {
    align-self: flex-end;
}