.nav_pages {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.nav_pages span {
    cursor: pointer;
    line-height: 1;
    transition: all ease-in-out .17s;
}

.nav_pages span:active,
.nav_pages span:hover {
    font-weight: 550;
}

.selected_page {
    font-size: 1.22em;
    font-weight: 650;
}

.nav_pages button ~ button {
    margin: 0 0 0 10px;
}