.friends {
    color: #fff;
    margin: 0 0 0 1.66em;
}

.friends h3 {
    font-size: 1.33em;
    font-weight: 700;
}

.list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}