html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  height: 100%;
  min-width: 935px;
}

#root {
  height: 100%;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "s c"
  "f f";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 2fr 10fr;
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
}

.content {
  font-size: 1em;
  grid-area: c;
  margin: 1.66em 1.66em 0 1.66em;
}

input,
textarea {
  font-size: 1em;
}

input:not([type='checkbox'], [type='file']),
textarea {
  border: 1px solid rgb(1, 1, 35);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: .55em .83em;
  width: 100%;
}

textarea {
  max-height: 27.77em;
  max-width: 100%;
  min-height: 5.55em;
}

form label {
  display: inline-block;
  margin: 0 0 1.11em;
}

button {
  background-color: #010123;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: .55em 1.11em;
  text-transform: uppercase;
  transition: all ease-in-out .17s;
}

button:active,
button:hover {
  scale: .95;
}

button:disabled,
button[disabled] {
  background: #fff;
  border: 1px solid #999;
  color: #999;
  cursor: default;
}

.shapes {
  animation: shapes-q299i1hg 1.5s infinite cubic-bezier(.3,1,0,1);
  background: conic-gradient(from -45deg at top 35.2px left 50%,#0000,currentColor 1deg 90deg,#0000 91deg),
         conic-gradient(from 45deg at right 35.2px top 50%,#0000,currentColor 1deg 90deg,#0000 91deg),
         conic-gradient(from 135deg at bottom 35.2px left 50%,#0000,currentColor 1deg 90deg,#0000 91deg),
         conic-gradient(from -135deg at left 35.2px top 50%,#0000,currentColor 1deg 90deg,#0000 91deg);
  color: #fff;
  height: 70px;
  width: 70px;
}

@keyframes shapes-q299i1hg {
  50% {
    height: 105.60000000000001px;
    width: 105.60000000000001px;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader-back {
  background: rgba(1, 1, 35,  .75);
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.shapes {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.input_checkbox__customized {
  cursor: pointer;
}

.input_checkbox__customized > div {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  margin: 0;
}

.input_checkbox__customized input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid rgb(1, 1, 35);
  font-size: 1em;
  height: 1.22em;
  margin: 0;
  transform: translateY(-2px);
  width: 1.22em;
}

.input_checkbox__customized input[type='checkbox'] {
  display: grid;
  place-content: center;
}

.input_checkbox__customized input[type='checkbox']::before {
  box-shadow: inset 1em 1em rgb(1, 1, 35);
  content: '';
  height: .66em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  width: .66em;
}

.input_checkbox__customized input[type='checkbox']:checked::before {
  transform: scale(1);
}

.form_error {
  color: #ff0000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0 0 1.11em;
}

input[type='file'] {
  max-width: 17em;
}

input::file-selector-button {
  background: #010123;
  border: 1px solid #010123;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: .55em 1.11em;
  scale: 1;
  text-align: center;
  text-transform: uppercase;
  transition: all ease-in-out .17s;
}

input::file-selector-button:hover {
  scale: .95;
}

@media (max-width: 1680px) {
  .html, body {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .html, body {
    font-size: 14px;
  }
}

@media (max-width: 1180px) {
  .app-wrapper {
    grid-template-columns: 3fr 9fr;
  }
  button,
  input[type='file'] {
    font-size: .85em;
  }
}