.dialogue {
    margin: 0 0 1.38em 0;
}

.dialogue img {
    border: 1px solid #010123;
    border-radius: 50%;
    height: 4.44em;
    object-fit: cover;
    object-position: top;
    width: 4.44em;
}

.dialogue a {
    align-items: center;
    display: flex;
    color: #010123;
    column-gap: 1.11em;
    justify-content: flex-start;
    text-decoration: none;
}

.dialogue.active a {
    color: #ff0000;
    font-weight: 600;
}