.posts {
    margin: 0 0 1.66em;
}

.item {
    align-items: center;
    border-bottom: 1px solid #010123;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 .83em;
    padding: 0 0 .83em;
    position: relative;
}

.item img {
    border: 1px solid #010123;
    border-radius: 50%;
    height: 4.44em;
    margin: 0 1.66em 0 0;
    object-fit: cover;
    object-position: top;
    width: 4.44em;
}

.like {
    bottom: .35em;
    display: flex;
    font-size: .77em;
    gap: 7px;
    justify-content: flex-end;
    position: absolute;
    right: .35em;
}

.like img {
    border: 0;
    border-radius: 0;
    height: 1rem;
    margin: 0;
    width: auto;
}